

.table {
    margin-top: 70px;


}
.header1{
    margin-top: 70px;
    background-color: rgb(1, 1, 25);
    color: rgb(249, 250, 250);
    font-size: 30px;
}

.my-header {
    width: 10%;
    
}
.settlement{
    font-weight: bold;
    background-color: rgb(217, 217, 200);
}
.design2{
    background-color: rgb(217, 217, 200);
}

